<!DOCTYPE html>
<html>
<head>
  <title>A Modern Myth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="black-bg">
  <%= render 'navbar' %>
  <%= yield %>
</div>
</body>
</html>
